<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启包扫描-->
    <context:component-scan base-package="com.xq"></context:component-scan>

    <!--读取properties配置文件里的信息-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--配置QueryRunner核心类-->
    <bean id="runner" class="org.apache.commons.dbutils.QueryRunner"></bean>

    <!--利用AOP进行事务控制-->
    <aop:config>
        <!--设置切点-->
        <aop:pointcut id="p1" expression="execution(* com.xq.service.impl.AccountServiceImpl.transfer(..))"/>
        <!--配置通知-->
        <aop:aspect ref="transactionManager">
            <!--配置前置通知-->
            <aop:before method="beginTransaction" pointcut-ref="p1"></aop:before>
            <!--配置后置通知-->
            <aop:after-returning method="commitTransaction" pointcut-ref="p1"></aop:after-returning>
            <!--配置抛出异常通知-->
            <aop:after-throwing method="rollback" pointcut-ref="p1"></aop:after-throwing>
            <!--配置最终通知-->
            <aop:after method="release" pointcut-ref="p1"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>